@font-face {
    font-family: "Mouse Memoirs";
    src: url(./Mouse_Memoirs/MouseMemoirs-Regular.ttf)
}

* {
    box-sizing: border-box;
    font-family: "Mouse Memoirs";
}

body{

    display: flex;
    background-image: url(./background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

h1 {
    text-align: center;
}

button {
    height: 2rem;
    width: 5rem;
}

.startScreen {
    width: 80vw;
    aspect-ratio: 1/1;
    margin-right: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    width: 80vw;
    aspect-ratio: 1/1;
    background-image: url(./grass.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    margin-right: .25rem;
}

.scoreScreen {
    width: 80vw;
    aspect-ratio: 1/1;
    background-color:orangered;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.lvl1 {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#interface {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gridSquare {
    
}

.player {
    background-image: url(./playerJPEG.png);
    background-position: center;
    background-size: cover;
    background-size: 95%;
    background-repeat: no-repeat;
}

.egg {
    background-image: url(./egg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.fox {
    background-color: red;
    border: 2px solid black;
}

.levelWalls {
    background-image: url(./fence.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}